---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1><span class="text-gradient">Juegos</span></h1>
    <ul role="list" class="link-card-grid">
      <Card
        href="/games/pool"
        title="Pool"
        urlImage="https://play-lh.googleusercontent.com/bPz1guJ6FHF3oIOEy3KqwpaDDKO-hLRaZoyzmM8bLFLN8fWm6L0_EuUnkwv9iqPo3Ag"
      />
      <Card
        href="/games/monopoly"
        title="Monopoly"
        urlImage="https://www3.minijuegosgratis.com/v3/games/thumbnails/206983_7_sq.jpg"
      />
      <Card
        href="/games/catan"
        title="Catan"
        urlImage="https://contrapunto.cl/cdn/shop/files/30025.jpg?v=1725989216"
      />
      <Card
        href="/games/poker"
        title="Poker"
        urlImage="https://images.ecestaticos.com/kz7LfL6kWvdTouEH8D1wYkdyqxc=/124x33:1175x774/992x700/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F5eb%2F1ad%2F3bb%2F5eb1ad3bb820a005ece8af144a782fc8.jpg"
      />
      <Card
        href="/games/gartic-phone"
        title="Gartic Phone"
        urlImage="https://esports.as.com/2021/02/15/bonus/videojuegos/Gartic-Phone_1438066191_584913_1440x810.png"
      />
      <Card
        href="/games/skribbl"
        title="Skribbl"
        urlImage="https://images.sftcdn.net/images/t_app-icon-m/p/3fa337f1-7ed8-49ca-a2fb-5f826a549bc3/2775272653/skribbl-io-45038_skribbl-spiel1.jpg"
      />
      <Card
        href="/games/uno"
        title="UNO"
        urlImage="https://cdn2.unrealengine.com/Diesel%2Fproductv2%2Funo%2Fhome%2FGameName_Store_Landscape_2560x1440-2560x1440-5195e8a3e06d672f97a1ee49ecea59027c14cae4.jpg"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
