---
import React from "react";
import styles from "./Game.module.css";
import Button from "../ui/Button.astro";
interface Props {
  id: string;
  game: string;
}
const { id, game } = Astro.props;
---

<div class={styles.container}>
  <h1>{id}</h1>
  <Button title="Atrás →" path={`/games/${game}`} target={false} />
</div>
